<div class="form-item">
  <img src="{{ asset('modules/MultiSafepay/assets/klarna_logo_big.png') }}">
  <br/><br/>
  <li class="clearfix">
    {{ widget('XLite\\Module\\MultiSafepay\\Klarna\\View\\FormField\\Select\\Klarna', fieldName='payment[gender]', placeholder=t('Gender'), fieldOnly='true', required='true') }}        
    {{ widget('XLite\\Module\\MultiSafepay\\Klarna\\View\\FormField\\Input\\Klarna', fieldName='payment[dob]', placeholder=t('dd-mm-yyyy'), fieldOnly='true', required='true') }}        
  </li>
</div>